tools/scripts/n8n_workflows/PalNorte-WA-Main-Router.json
{
    "name": "PalNorte - WA Main Router",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "palnorte-inbound",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "WA Inbound",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "id": "webhook-main",
            "webhookId": "palnorte-inbound"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nlet waPhone = '', displayName = '', messageBody = '';\ntry {\n  const entry = body?.entry?.[0];\n  const change = entry?.changes?.[0];\n  const msg = change?.value?.messages?.[0];\n  const contact = change?.value?.contacts?.[0];\n  if (msg) { waPhone = msg.from || ''; displayName = contact?.profile?.name || waPhone; messageBody = msg.text?.body || ''; }\n} catch(e) {\n  waPhone = body.from || body.waPhone || 'unknown';\n  displayName = body.displayName || waPhone;\n  messageBody = body.body || body.message || '';\n}\nconst skip = !messageBody || !waPhone || waPhone === 'unknown';\nreturn [{ json: { waPhone, displayName, messageBody, skip } }];"
            },
            "name": "Normalize Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ],
            "id": "code-normalize"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "skip-check",
                            "leftValue": "={{ $json.skip }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "name": "Skip Invalid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "id": "if-skip"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "Nj4NlX79abLJjLi7",
                    "mode": "id"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "rawMessage": "={{ $json.messageBody }}"
                    }
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "name": "Route Intent",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                900,
                460
            ],
            "id": "exec-intent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "outputKey": "help",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "help",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "outputKey": "benefits",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "benefits",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "outputKey": "status",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "status",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "outputKey": "lost",
                            "conditions": {
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.intent }}",
                                        "rightValue": "lost",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "options": {
                    "fallbackOutput": "extra"
                }
            },
            "name": "Dispatch Command",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                1120,
                460
            ],
            "id": "switch-dispatch"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "OWmFO9lfD1eflWRi",
                    "mode": "id"
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "name": "Run Help",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                1340,
                200
            ],
            "id": "exec-help"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "4dfsrWmKngh56XIh",
                    "mode": "id"
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "name": "Run Benefits",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                1340,
                340
            ],
            "id": "exec-benefits"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "ahnw5vlJGs7LJ1qO",
                    "mode": "id"
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "name": "Run Status",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                1340,
                480
            ],
            "id": "exec-status"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "11jc9SUchtRyDHBs",
                    "mode": "id"
                },
                "options": {
                    "waitForSubWorkflow": true
                }
            },
            "name": "Run Lost",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                1340,
                620
            ],
            "id": "exec-lost"
        },
        {
            "parameters": {
                "mode": "chooseBranch"
            },
            "name": "Collect Reply",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1560,
                340
            ],
            "id": "merge-reply"
        },
        {
            "parameters": {
                "jsCode": "const reply = $input.first().json.reply || 'No pude entender eso. Prueba: help';\nconst waPhone = $('Normalize Payload').first().json.waPhone;\nreturn [{ json: { reply, waPhone } }];"
            },
            "name": "Final Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                340
            ],
            "id": "code-final"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "pmSr03nJ6RC1ECkN",
                    "mode": "id"
                },
                "options": {
                    "waitForSubWorkflow": false
                }
            },
            "name": "Log Audit",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.1,
            "position": [
                2000,
                500
            ],
            "id": "exec-audit"
        }
    ],
    "connections": {
        "WA Inbound": {
            "main": [
                [
                    {
                        "node": "Normalize Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Payload": {
            "main": [
                [
                    {
                        "node": "Skip Invalid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip Invalid": {
            "main": [
                [],
                [
                    {
                        "node": "Route Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Intent": {
            "main": [
                [
                    {
                        "node": "Dispatch Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dispatch Command": {
            "main": [
                [
                    {
                        "node": "Run Help",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Run Benefits",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Run Status",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Run Lost",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Run Help",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Help": {
            "main": [
                [
                    {
                        "node": "Collect Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Benefits": {
            "main": [
                [
                    {
                        "node": "Collect Reply",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Run Status": {
            "main": [
                [
                    {
                        "node": "Collect Reply",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Run Lost": {
            "main": [
                [
                    {
                        "node": "Collect Reply",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Collect Reply": {
            "main": [
                [
                    {
                        "node": "Final Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Reply": {
            "main": [
                [
                    {
                        "node": "Log Audit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}